.module__wrapper {
  display: flex;
}
.module__wrapper__seal {
  background: #000080;
  min-width: 610px;
  height: 100vh;
  position: relative;
  -webkit-clip-path: polygon(0 0, 75% 0%, 100% 50%, 75% 100%, 0 100%, 0% 50%);
          clip-path: polygon(0 0, 75% 0%, 100% 50%, 75% 100%, 0 100%, 0% 50%);
}
.module__wrapper__seal::before {
  content: "";
  position: absolute;
 
  width: 595px;
  height: 100%;
  -webkit-clip-path: polygon(0 0, 75% 0%, 100% 50%, 75% 100%, 0 100%, 0% 50%);
          clip-path: polygon(0 0, 75% 0%, 100% 50%, 75% 100%, 0 100%, 0% 50%);
}
.module__wrapper__seal__fixed {
  position: fixed;
  width: 580px;
  height: 100%;
  background: url(../images/bacoor.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-clip-path: polygon(0 0, 75% 0%, 100% 50%, 75% 100%, 0 100%, 0% 50%);
          clip-path: polygon(0 0, 75% 0%, 100% 50%, 75% 100%, 0 100%, 0% 50%);
}
.module__wrapper__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.module__wrapper__form__header {
  position: relative;
  height: 110px;
  width: 100%;
  background: #000080;
  -webkit-clip-path: polygon(50% 100%, 100% 50%, 100% 0, 0 0, 0 50%);
          clip-path: polygon(50% 100%, 100% 50%, 100% 0, 0 0, 0 50%);
  display: none;
}
.module__wrapper__form__header::before {
  content: "";
  position: absolute;
  height: 100px;
  width: 100%;

  -webkit-clip-path: polygon(50% 100%, 100% 50%, 100% 0, 0 0, 0 50%);
          clip-path: polygon(50% 100%, 100% 50%, 100% 0, 0 0, 0 50%);
}
.module__wrapper__form__header__border {
  text-align: center;
  height: 90px;
  width: 100%;
  background: url(../images/bacoor.jpg) center no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(50% 100%, 100% 50%, 100% 0, 0 0, 0 50%);
          clip-path: polygon(50% 100%, 100% 50%, 100% 0, 0 0, 0 50%);
  padding: 5px 0;
}
.module__wrapper__form__header__border img {
  width: 75px;
}
.module__wrapper__form__content {
  width: min(100%, 550px);
  padding-inline: 15px;
}
.module__wrapper__form__content__title {
  font-size: 1.5rem;
  width: min(100%, 290px);
  padding-left: 10px;
  position: relative;
  line-height: 1.1;
}
.module__wrapper__form__content__title::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background: #000080;
  left: 0;
}
.module__wrapper__form__content__p {
  text-align: center;
  margin-top: 100px;
}

i[class^="icon-chevron"] {
  color: #FFFFFF;
  float: left;
  width: 15%;
  border-radius: 50%;
}
@media screen and (max-width: 1024px) {
  .module__wrapper__seal {
    min-width: 510px;
  }
  .module__wrapper__seal::before {
    width: 495px;
  }
  .module__wrapper__seal__fixed {
    width: 480px;
  }
}
@media screen and (max-width: 1130px) {
  .module__wrapper__seal {
    display: none;
  }
  .module__wrapper__form {
    justify-content: flex-start;
    gap: 2rem;
  }
  .module__wrapper__form__header {
    display: block;
  }
}

    .searchwp-modal-form {
        display: none;
    }
    .searchwp-modal-form.is-open {
        display: block;
    }

	@keyframes searchwpModalFadeIn {
		from { opacity: 0; }
		to { opacity: 1; }
	}
	@keyframes searchwpModalFadeOut {
		from { opacity: 1; }
		to { opacity: 0; }
	}
	@keyframes searchwpModalSlideIn {
		from { transform: translateY(15%); }
		to { transform: translateY(0); }
	}
	@keyframes searchwpModalSlideOut {
		from { transform: translateY(0); }
		to { transform: translateY(-10%); }
	}
	.searchwp-modal-form[aria-hidden="false"] .searchwp-modal-form-default .searchwp-modal-form__overlay {
		animation: searchwpModalFadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
	}
	.searchwp-modal-form[aria-hidden="false"] .searchwp-modal-form-default .searchwp-modal-form__container {
		animation: searchwpModalSlideIn .3s cubic-bezier(0, 0, .2, 1);
	}
	.searchwp-modal-form[aria-hidden="true"] .searchwp-modal-form-default .searchwp-modal-form__overlay {
		animation: searchwpModalFadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
	}
	.searchwp-modal-form[aria-hidden="true"] .searchwp-modal-form-default .searchwp-modal-form__container {
		animation: searchwpModalSlideOut .3s cubic-bezier(0, 0, .2, 1);
	}
	.searchwp-modal-form-default .searchwp-modal-form__container,
	.searchwp-modal-form-default .searchwp-modal-form__overlay {
		will-change: transform;
	}
