:root {

    --icon-color: #ACACBE;
    --icon-hover-bg: #5b5e71;
    --placeholder-color: #dcdcdc;
    --outgoing-chat-bg: #0b0c1d;
    --incoming-chat-bg: #444654;
    --outgoing-chat-border: #343541;
    --incoming-chat-border: #444654;
    --body-color: #181914;
    --sidebar-color: #1d2026;
    --scroll-color: rgb(20, 199, 231);
    --icon-hover-bg: #373741;
    --news-button: #444654;
    --news-textbutton:  #f1f1f3;
   
    --primary-color: #f4f2f2;
    --newsbutton: 
    --primary-color-light: #f4f2f2;
    --toggle-color: #ddd;
    --text-color:  #8a94a7;
    --p-color:  #8a94a7;
    --dark-color: #000;
   
    --trans-02: all 1.2s ease;
    --trans-03: all 0.3s ease;
    --trans-04: all 0.4s ease;
    --trans-04: all 0.5s ease;
   }
   .light-mode {
    --body-color: #ffffe0;
    --sidebar-color: #ffffff;
   
    --toggle-color: #000;
    --text-color: #000;
    --p-color:  #4f5561;
    --dark-color: #000;
    --icon-color: #a9a9bc;
    --icon-hover-bg: #f1f1f3;
    --news-button: #f1f1f3;
    --news-textbutton: #444654;

    --placeholder-color: #6c6c6c;
    --outgoing-chat-bg: #faf7ce;
    --incoming-chat-bg: #F7F7F8;
    --outgoing-chat-border: #FFFFFF;
    --incoming-chat-border: #D9D9E3;
    --scroll-color: rgb(3, 3, 19);
    --primary-color-light: #000000;
   }

.badge {
    border-radius: 2px;
    padding: 3px 6px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
  }

  post-box {
    justify-content: start;
  }
  
  .badge.badge-danger {
    background-color: #ff2400;
  }
  
  .badge.badge-info {
    background-color: #58bafc;
  }
  
  .badge.badge-dark {
    background-color: #406177;
  }
  
  .hbtn {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    padding: 8px 24px;
    font-weight: 500;
    font-size: 15px;
    color: var(--primary-color);
    border-radius: 25px;
    border: 0;
    outline: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .hbtn.hbtn-default {
    background-color: #333c4e;
    color: var(--p-color);
  }
  
  .latest-news {
    padding-top: 80px;
    padding-bottom: 80px;
   
  }
  
  .latest-news .row-title {
    text-align: left;
    font-size: 27px;
    font-weight: 700;
    color: var(--p-color);
    margin-bottom: 30px;
  }
  
  .latest-news .main-btn-holder {
    text-align: right;
    margin-bottom: 30px;
  }
  
  .latest-news .post-box {
    position: relative;
    border-radius: 15px;
    padding: 115px 35px 40px 35px;
    margin: 20px 0;
    z-index: 1;
  }
  
  .latest-news .post-box.blue-bg {
    background-color: #4789fc;
  }
  
  .latest-news .post-box.blue-bg .post-img {
    opacity: 0.45;
  }
  
  .latest-news .post-box.grey-bg {
    background-color: #333c4e;
  }
  
  .latest-news .post-box.grey-bg .post-img {
    opacity: 0.15;
  }
  
  .latest-news .post-box.yellow-bg {
    background-color: #ffc600;
  }
  
  .latest-news .post-box.yellow-bg .post-img {
    opacity: 0.11;
  }
  
  .latest-news .post-box .post-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    z-index: -1;
    background-size: 100%;
    background-position: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .latest-news .post-box .badge {
    margin-bottom: 8px;
  }
  
  .latest-news .post-box .post-title {
    font-size: 19px;
    font-weight: 700;
    line-height: 23px;
    color: var(--primary-color);
    max-width: 70%;
    margin-bottom: 15px;
  }
  
  .latest-news .post-box .post-link a {
    font-size: 10.5px;
    font-weight: 600;
    padding: 10px 14px;
    color: var(--news-textbutton);
    background-color: var(--news-button);
    border-radius: 5px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .latest-news .post-box .post-link a:hover {
    color: #2b91d7;
  }
  
  .post-box {
    display: inline-block;
    width: 100%;
    max-width: 1070px;
    margin-bottom: 80px;
  }
  
  .post-box .post-title {
    font-size: 27px;
    font-weight: 700;
    color: #4d5666;
    margin-bottom: 18px;
  }
  
  .blue-bg {
    background-color: #2a74e3;
  }
  
  @media (max-width: 1200px) {
    .latest-news .post-box .post-title {
      max-width: 100%;
    }
  }
  
  @media (max-width: 992px) {
    .latest-news .row-title {
      font-size: 25px;
    }
  }
  
  @media (max-width: 768px) {
    .latest-news .row-title {
      text-align: center;
    }
  
    .latest-news .main-btn-holder {
      text-align: center;
    }
  }
  
  @media (max-width: 480px) {
    .latest-news {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  
    .latest-news .row-title {
      font-size: 25px;
      text-align: left;
      margin-bottom: 5px;
    }
  
    .latest-news .main-btn-holder {
      display: none;
    }
  }
  